# API
fastapi
uvicorn[standard]
pydantic
python-multipart

# Machine Learning
scikit-learn
pandas
numpy
joblib

# Monitoring & Drift Detection
streamlit
evidently
plotly

# Testing
pytest
pytest-cov
httpx

# Logging
python-json-logger

# Utils
python-dotenv
